body,input,select,textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.layoutBody {
	margin-top: 20px;
}

h1 {
	color: #5A5A5A;
	margin-top: 0px;
	font-size: 30px;
	letter-spacing: 1px;
}

#standard .navbar-inner {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-image: none;
}

.footer {
	margin-top: 45px;
	padding-top: 15px;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}

.footer p {
	margin-bottom: 0;
	color: #555;
}

a.external {
	background-image: url("../images/common/icon-external-link.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right center;
	padding-right: 13px;
}

#lowerNav {
	border: none;
}

#upperNav {
	background-position: top center;
	background-repeat: repeat-x;
	display: block;
	height: 70px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	/*
	-moz-box-shadow: inset 0 0 15px 7px #444;
	-webkit-box-shadow: inset 0 0 15px 7px #444;
	box-shadow: inset 0 0 15px 7px #444;
	*/
}

.appstripe {
	height: 6px;
	background-image: url(../images/common/shadow.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

.brand {
	letter-spacing: 1px !important;
	padding-left: 0px !important;
	margin-left: 0px !important;
	background-color: none !important;
	font-weight: bold !important;
	color: #5A5A5A !important;
}

.satellite {
	padding-left: 4px !important;
}

#brandBar a {
	font-size: 13px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	margin-top: 3px;
}

#brandBar {
	height: 25px !important;
	overflow: hidden;
	min-height: 25px !important;
	border: none !important;
}



#brandBar a.satellite {
	padding-left: 0px !important;
}

#brandBar a.satellite div {
	padding-left: 0px !important;
	width: 4px;
	height: 100%;

	float: left;
	margin-right: 2px;
}

#brandBar a:hover {
    text-shadow: none;
}

#brandBar a.satellite:hover {
    color: #000;
}

a.brand {
	
}

.ui-autocomplete {
	list-style: none;
	background-color: #fff;
	border: 1px solid #000;
	width: 300px;
}

.ui-autocomplete li {
	list-style: none;
}

.ui-autocomplete li:hover {
	cursor: pointer;
}

ul#internalDrop li a {
	color: #000;
}

ul#internalDrop li a:hover {
	color: #fff;
}